.header {
    position: relative;

    .container-width {
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;

        @media (max-width: 1240px) {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 0 20px;
        }
    }

    .logo {
        margin-right: 90px;
        display: flex;
        align-items: center;

        @media (max-width: 1240px) {
            margin-right: 0;
            margin-bottom: 17px;
        }

        .music-logo {
            background-image: url(../images/logo.svg);
            background-size: 24px 24px;
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }

        span {
            font-size: 11px;
            line-height: 13px;
        }
    }

    ul {
        display: flex;
        gap: 24px;
        padding: 0;

        @media (max-width: 1240px) {
            flex-direction: column;
            gap: 3px;
            margin-bottom: 18px;
        }

        li {
            list-style: none;
            font-size: 11px;
            
        }
    }

    input {
        margin-left: auto;
        width: 248px;
        padding: 5px 10px;
        background-color: #3C3B3D;
        border: none;
        border-radius: 13px;

        @media (max-width: 1240px) {
            margin-left: 0;
            width: 100%;
        }

        &::placeholder {
            height: 25px;
            color:#757575;
            font-size: 13px;
            line-height: 15px; 
        }
    }
}