.mob-app {
    display: flex;
    justify-content: center;

    .container-width {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;

        @media (max-width: 1240px) {
            padding: 0 20px 100px;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 1.5;
        margin-bottom: 48px;

        @media (max-width: 1240px) {
            font-size: 18px;
        }
    }

    .app {
        display: flex;
        justify-content: flex-start;
        align-self: start;

        @media (max-width: 1240px) {
            flex-direction: column;
            align-self: center;
        }
    }

    .app-text {
        width: 600px;
        margin-top: 16px;
        margin-right: 144px;

        @media (max-width: 1240px) {
            width: 100%;
        }

        p {
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 16px;
        }
    }

    .app-img {
        @media (max-width: 1240px) {
            order: -1;
            max-width: 333px;
            align-self: center;
        }  
    }

    button {
        font-weight: 400;
        font-size: 12.8px;
        line-height: 150%;
        color: #FFFFFF; 
        background: #95390C;
        padding: 17px 40px;
        border: none;
        border-radius: 32px;
        width: 131px;
        height: 53px;
    }
}